<nav>
	<div>
		<ul>
			<li><a href="~/Create.cshtml">Create a new entry</a></li>
			<li><a href="~/Read.cshtml">Display of data</a></li>
			<li><a href="~/Update.cshtml">Edit entry</a></li>
			<li><a href="~/Delete.cshtml">Remove Entry</a></li>
		</ul>
	</div>
</nav>